@import "../album/album.component.css";

.album--player {
    display: flex;
    align-items: center;
    padding: var(--whitespace--1);
}

.album--player .album__cover {
    width: 2.5rem;
    margin: 0 var(--whitespace--1) 0 0;
}

.album--player .album__title {
    color: var(--color--interface);
    font: var(--font--3);
    font-weight: var(--font-weight--medium);
}

.album--player .album__artist {
    color: var(--color--black--3);
    font: var(--font--5);
    font-weight: var(--font-weight--thin);
}

@media (min-width: 60rem) {
    .album--player .album__cover {
        width: 5rem;
        margin: 0 var(--whitespace--2) 0 0;
    }

    .album--player .album__title {
        font: var(--font--2);
    }
    .album--player .album__artist {
        font: var(--font--4);
    }
}
