  <ul class="menu menu--black">
    <li class="menu__item menu__item--title">
        <div class="menu__item__container">
            <strong>Your playlist</strong>
            <button class="button--add-playlist">
                <div class="button__container">
                    <span class="icon icon--1">${require('../../assets/plus.svg')}</span>
                </div>
            </button>
        </div>
    </li>
    <li class="menu__item  menu__item--left-icon active">
        <a class="menu__item__container">
            <span>Snowboard jam</span>
        </a>
    </li>
    <li class="menu__item menu__item--left-icon">
        <a class="menu__item__container">
            <span>Hamburger party's</span>
        </a>
    </li>
    <li class="menu__item menu__item--left-icon">
        <a class="menu__item__container">
            <span>Never back down</span>
        </a>
    </li>
    <li class="menu__item menu__item--left-icon">
        <a class="menu__item__container">
            <span>Don't forget the pie</span>
        </a>
    </li>
    <li class="menu__item menu__item--left-icon">
        <a class="menu__item__container">
            <span>Chill and relax, bro!</span>
        </a>
    </li>
    <li class="menu__item menu__item--left-icon">
        <a class="menu__item__container">
            <span>I want to kill him!</span>
        </a>
    </li>
    <li class="menu__item menu__item--left-icon">
        <a class="menu__item__container">
            <span>For mommy</span>
        </a>
    </li>
    <li class="menu__item menu__item--left-icon">
        <a class="menu__item__container">
            <span>For poppy</span>
        </a>
    </li>
    <li class="menu__item menu__item--left-icon">
        <a class="menu__item__container">
            <span>The cake is a lie</span>
        </a>
    </li>
    <li class="menu__item menu__item--left-icon">
        <a class="menu__item__container">
            <span>Go hard or Go home</span>
        </a>
    </li>
    <li class="menu__item menu__item--left-icon">
        <a class="menu__item__container">
            <span>For valentine's day ... lol</span>
        </a>
    </li>
    <li class="menu__item menu__item--left-icon">
        <a class="menu__item__container">
            <span>Harder, faster, better, stronger</span>
        </a>
    </li>
    <li class="menu__item menu__item--left-icon">
        <a class="menu__item__container">
            <span>EPIC movie soundtracks</span>
        </a>
    </li>
</ul>
