<div class="input input--search--1 input--search-header">
    <div class="input__container">
        <div class="input__actions input__actions--left">
            <span class="icon icon--2">${require('../../assets/search.svg')}</span>
        </div>
        <input type="text" placeholder="Search..." />
        <div class="input__border"></div>
        <button class="button--invisible input__actions input__actions--right">
            <span class="icon icon--2">${require('../../assets/clear.svg')}</span>
        </button>
    </div>
</div>
