.input--search-header {
    width: 15rem;
    color: var(--color--black--3);
}

.input--search-header .input__actions {
    display: flex;
    /* TODO: 1. Flex magic */
    /* TODO: 2. Flex magic */
    color: inherit;
}

.input--search-header button:hover {
    color: var(--color--black--1);
}
