<div class="player-actions">
    <button class="button--2 button--invisible button--control">
        <div class="button__container">
            <span class="icon icon--2">${require('../../assets/playqueue.svg')}</span>
        </div>
    </button>
    <button class="button--1 button--lyrics">Lyrics</button>
    <span class="player__volume">
        <button class="button--2 button--invisible button--control">
            <div class="button__container">
                <span class="icon icon--2">${require('../../assets/volume.svg')}</span>
            </div>
        </button>
        <div class="progress progress--volume">
            <div class="progress__bar">
                <div class="progress__bar__control"></div>
            </div>
        </div>
    </span>
</div>
