<div class="player-control">
    <button class="button--2 button--invisible button--control">
        <div class="button__container">
            <span class="icon icon--2">${require('../../assets/shuffle.svg')}</span>
        </div>
    </button>
    <button class="button--2 button--invisible button--control">
        <div class="button__container">
            <span class="icon icon--2">${require('../../assets/previous.svg')}</span>
        </div>
    </button>
    <button class="button--3 button--invisible button--control">
        <div class="button__container">
            <span class="icon icon--3">${require('../../assets/play.svg')}</span>
        </div>
    </button>
    <button class="button--2 button--invisible button--control">
        <div class="button__container">
            <span class="icon icon--2">${require('../../assets/next.svg')}</span>
        </div>
    </button>
    <button class="button--2 button--invisible button--control">
        <div class="button__container">
            <span class="icon icon--2">${require('../../assets/repeat.svg')}</span>
        </div>
    </button>
</div>
