:root {
    --height--input--1: 2rem;
    --height--input--2: 2.5rem;
    --height--input--textarea: 8rem;
}

.input {
    position: relative;
    width: 100%;
}

.input__container {
    display: flex;
    width: 100%;
    margin: 0;
    position: relative;
}

.input__container input,
.input__container textarea {
    outline: none;
    box-shadow: none;
    border: none;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: transparent;
    font: var(--font--body);
    font-weight: var(--font-weight--light);
    color: var(--color--text);
}

.input__container textarea {
    resize: none;
}

.input__container textarea:active + .input__border,
.input__container textarea:focus  + .input__border,
.input__container input:active + .input__border,
.input__container input:focus  + .input__border {
    border-color: var(--color--brand);
}

.input__border {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    border: 1px solid var(--color--border);
    background: var(--color--interface);
}

.input__actions {
    display: flex;
    flex: 0 0 auto;
    z-index: 1;
}

.input--1 .input__container {
    height: var(--height--input--1);
}

.input--1 input {
    padding: 0 var(--whitespace--1);
}

.input--2 .input__container {
    height: var(--height--input--2);
}

.input--2 input {
    padding: 0 var(--whitespace--2);
}

.input--textarea .input__container {
    height: var(--height--input--textarea);
}

.input--textarea textarea {
    padding: var(--whitespace--2);
}

.input--search--1 .input__container {
    height: var(--height--input--1);
}

.input--search--1 .input__border {
    border-radius: var(--height--input--1);
}

.input--search--1 .input__actions--right,
.input--search--1 .input__actions--left {
    width: var(--height--input--1);
}

.input--search--2 .input__container {
    height: var(--height--input--2);
}

.input--search--2 .input__border {
    border-radius:var(--height--input--2);
}

.input--search--2 .input__actions--right,
.input--search--2 .input__actions--left {
    width: var(--height--input--2);
}

